@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;

  @apply bg-gray-100
    dark:bg-gray-900
    transition-colors
    duration-200;
}